server {
  listen 80;

  server_name {{ nginx_hostname }};

  # security - prevent information disclosure about server version
  server_tokens off;

  access_log /var/log/nginx/{{nginx_hostname}}.access.log;
  error_log /var/log/nginx/{{nginx_hostname}}.error.log;

  location / {
    proxy_pass http://127.0.0.1:8080;
    proxy_set_header CLIENT_IP $remote_addr;
  }


}
